*{
    font-family: sans-serif;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px; /* 5px rounded corners */
    margin: 2rem;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

/* Add some padding inside the card container */
.card-container {
    padding: 2px 16px;
    padding-bottom: 10px;
}

/* Add rounded corners to the top left and the top right corner of the image */
card-img {
    border-radius: 5px 5px 0 0;
}

.article-image{
    border-radius: 5px 5px 0 0;
    width: 100px;
    height: 100px;
}

.controls {
    display: flex;
    justify-content: center;
}

.control-item{
    width: 150px;
}

.blog-post{
    padding-bottom: 20px;
}

.carousel-inner{
    max-height: 400px;
}